


#top_con{
    
    justify-content: center;
    align-items: center;
}
#navb{
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

#Title1{
   
    font-size: 30px;
    font-family: 'Yellowtail';
    padding-left: 0px;
  
    margin-left: 0px;
    margin-right: 0px;
    

}
#nothing{

    margin: 0 auto;
    width: 800px;
    height: 150px;
    background-color: rgb(255, 255, 255);
 }
 #grp1,#grp2,#grp3,#grp4,#grp5,#grp6,#grp7,#grp8,#grp9,#grp10,#grp11{
 
    margin: 0 auto;
    padding: auto;
    width: 800px;
    height: 820px;
    background-color: rgb(196, 187, 187);
 }
 #proposal-word{
    font-family: 'Yomogi';
    
    display: flex;
    
    justify-content: center;
    align-items: center;
 }
 #pdf-word{
    font-family: 'Shadows Into Light';
    display: flex;
    padding-left:5px ;
    padding-right: 5px;
    
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
 }